# Rust
/target
**/*.rs.bk
Cargo.lock

# WASM
/pkg
/pkg-web
/pkg-nodejs
/wasm-pack.log

# IDE
.idea
*.iml
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Benchmarks
/target/criterion

# Coverage
*.profraw
*.profdata
cobertura.xml
